.hero {
    width: 100%;
    display: grid;
    position: relative;

    grid-template-columns: auto 25% 10% 35%;
    grid-template-rows: auto 10% auto;
}

.hero h1 {
    display: block;
    position: relative;
    text-wrap: nowrap;

    font-family: var(--hero-heading-font);
    font-size: var(--hero-heading-font-size);

    color: var(--black);
    z-index: 2;
}

#hero-paragraph {
    display: block;
    position: relative;
    margin: 0px;

    font-family: var(--hero-paragraph-font);
    font-size: var(--hero-paragraph-font-size);

    color: var(--black);
}



#hero-image img {
    display: block;
    position: relative;
    width: 100%;
}

#hero-heading {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    z-index: 2;
}

#hero-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#hero-image {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;

    z-index: 1;

    display: flex;
    align-items: end;
}
#hero-animation {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;

    background-color: var(--blue);
    border-radius: var(--hero-border-radius);

    overflow: hidden;
}
#lottie-player {
    display: flex;
    position: relative;

    height: 100%;
}
#hero-poster {
    display: block;
    position: relative;

    width: 100%;
    height: 100%;
    top: -100%;
    left: 0px;
}
#hero-poster-hidden {
    display: none;
}

@media screen and (max-width: 800px) {
    #hero-info {
        display: none;
    }
    #hero-image {
        display: none;
    }
    .hero {
        position: relative;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    #hero-animation {
        grid-row-start: 2;
        grid-row-end: 3 !important;
        overflow: hidden;
        max-width: fit-content;
        background-color: transparent;
        border-radius: var(--hero-border-radius);
    }
    #hero-animation div {
        background-color: var(--blue);
        border-radius: var(--hero-border-radius);
    }
    .hero h1 {
        grid-row-start: 1;
        grid-row-end: 2 !important;
        align-self: center;

        font-size: var(--hero-heading-font-size);
        max-width: 90vw;
    }
    #hero-animation lottie-player {
        display: block;
        position: relative;
        width: 95vw;
        object-fit: cover;
    }
    #hero-poster {
        display: block;
        position: relative;
        width: 95vw;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0px;
    }
    #hero-poster-hidden {
        display: none;
    }
}