.event-info-page-container {
    display: grid;
    grid-template-columns: auto 90fr;
    grid-template-rows: auto auto;
    gap: 1rem;
}

.back-button {
    width: 1.5rem;

    padding: 0.7em 1em 0.6em 1em;

    border-radius: 0.5em;
    border-width: 0.075em !important;

    transition: backgroud-color 2s linear;
    cursor: pointer;
}

.page-title {
    font-family: object_sans_regular;
    font-size: 1.5rem;
    align-self: center;
    padding-top: 0.2rem;
}

.event-emoji {
    justify-self: center;
    font-size: 2.5rem;
}

.event-details-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detail-title {
    font-family: object_sans_regular;
    font-size: 1rem;
    margin-bottom: 0.1rem;
}

.event-name {
    font-family: object_sans_bold;
    font-size: 2rem;
}

.event-info-data {
    font-family: object_sans_regular;
    font-size: 1.5rem;
}

.event-description {
    font-family: object_sans_regular;
    font-size: 1.2rem;
}